h1{
	font-family:"Bodoni MT Condensed";
	font-size:xx-large;
	color:#0000FF;
}

:root { 
	--background-color: white;
	--text-color: black;
	--square-color: black;
  }

.dark-mode {
--background-color: black;
--text-color: white;
--square-color: lightgray;
}

body {
background-color: var(--background-color);
color: var(--text-color);
font-family: Arial, sans-serif;
text-align: center;
margin: 0;
}


button {
margin: 20px;
padding: 10px 20px;
font-size: 16px;
cursor: pointer;
}